
.results-banner {
    background-color: #373542;
    border-radius: 5px;
    padding: 10px 20px;
}

.details-banner {
    background-color: #c2c2c2;
    border-radius: 5px;
}

.results-banner h3{
    color: #fff;
}

.text-banner {
    border-top: 10px solid #373542;
    border-bottom: 10px solid #373542;
}

.text-highlight {
    color: #608b84;
    font-weight: bold;
}

.title-border {
    padding-left: 10px;
    border-left: 3px solid #a4ccc6;
}

/* Tabel Classes */
[data-calculator-field="COMPLEX-CALC_mortgage-table-container"] {
    padding-right: 30px;
    overflow-x: auto !important;
    height: 740px;
}

.complex-calculator-table {
    position: absolute;
    min-width: 700px;
}

.mortgage-table {
    border-radius: 20px;
    background-color: #373542;
    width: 100%;
}

.mortgage-table-header {
    height: 80px;
    color: #fff;
}

.mortgage-table-content {
    background-color: #525158;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.mortgage-table-content-header div {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-results-row {
    background-color: #373542;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px !important;
    border-left: 4px solid #a4ccc6;
}

.table-results-row div{
    font-weight: 600;
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.adhoc-container::before {
    padding: 0 0.2em;
    top: auto;
}

.adhoc-container>input {
    padding-left: 1.7em;
    padding-right: 0;
    height: 28px !important;
}

.chart-container {
    border-radius: 5px;
    background-color: #c2c2c2;
    border: 2px solid var(--fd-main-bg-color);
}

.google-visualization-tooltip {
    border-radius: 5px !important;
    border: 3px solid #a4ccc6 !important;
    background-color: #373542 !important;
}

.google-visualization-tooltip-item {
    text-align: center;
}

.google-visualization-tooltip span{
    color: #fff !important;
}

.fd--card {
    background-color: #9999991f;
}

.fd--calc--custom--container {
    padding: 15px;
}

.fd--table--toggle--monthly {
    color: black;
    background-color: #c2c2c2;
    border: 3px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 500;
}

.fd--table--toggle--monthly:hover {
    background-color: #65646c;
    color: #fff;
}

.fd--table--toggle--monthly.active {
    background-color: var(--fd-main-bg-color);
    color: #fff;
}

.fd--table--toggle--yearly {
    background-color: #c2c2c2;
    color: black;
    border: 3px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
    font-weight: 500;
}

.fd--table--toggle--yearly:hover {
    background-color: #65646c;
    color: #fff;
}

.fd--table--toggle--yearly.active {
    background-color: var(--fd-main-bg-color);
    color: #fff;
}



