* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    font: 400 16px/20px 'Open Sans', Arial, Helvetica, sans-serif;
    color: var(--fd-main-bg-color);
    background:  linear-gradient(to bottom,  #ffffff 0%,#ededed 15%,#ededed 85%,#ffffff 100%);
}

:root {
    /* Colors */
    --fd-main:#0e0e0e;
    --fd-lighter-main: #1a1a1a;
    --fd-primary: #a4ccc6;
    --fd-primary-darker: #608b84;
    --fd-primary-dull: #be863e;
    --fd-secondary: #fff;
    --fd-mid-grey: #666;
    --fd-light-grey: #bbb;
    --fd-lighter-grey: #edeef5;
    --fd-main-bg-color: #373542;
}

h1 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 8px;
    font-style: normal;
}

h2 {
   color: #373542; 
   font-weight: 400;
   line-height: 1.5;
   /*text-transform: uppercase;*/
   font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

h3 {
    color: #373542; 
    font-weight: 400;
    /*text-transform: uppercase;*/
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

p {
    letter-spacing: normal;
    line-height: 20px;
}

a {
    text-decoration: none;
    transition: 300ms ease-in-out;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--fd-main-bg-color);
}

a:hover {
    text-decoration: none;
    color: var(--fd-primary);
}

.uk-input:focus {
    border-color: var(--fd-primary) !important;
}

.hide {
    display: none;
}

.fd--bg--main {
    background-color: var(--fd-main);
}

.fd--bg--lighterMain {
    background-color: var(--fd-lighter-main);
}

.fd--bg--primary {
    background-color: var(--fd-primary);
}

.fd--bg--secondary {
    background-color: var(--fd-secondary);
}

.fd--text--primary {
    color: var(--fd-primary) !important;
}

.fd--text--primary--darker {
    color: var(--fd-primary-darker);
}

.fd--text--secondary {
    color: var(--fd-secondary);
}

.fd--text--tertiary {
    color: #999 !important;
}

.fd--alignY--center {
    display: flex;
    align-items: center;
    height: 100%;
}

.fd--site--wrapper {
    height: 100%;
    position: relative;
}

main {
    min-height: 70vh;
}

nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 0.125rem 0.625rem 0 rgb(0 0 0 / 10%);
    background-color: #fff;
}

.fd--nav--logo--container {
    padding-right: 20px;
}

.fd--nav--logo {
    width: 100px;
}

.fd--nav--divider {
    border-left: 4px solid var(--fd-primary);
    height: 70%;
}

.fd--nav a {
    margin-right: 20px;
}

.fd--nav--menu {
    margin: 0;
}

.fd--nav--menu li {
    display: inline-block;
    padding-left: 20px;
}

.fd--nav--menu li a{
    font-weight: 600;
}

.fd--nav--social {
    margin: 0 10px !important;
}

.fd--social--divider {
    width: 4px;
    background-color: var(--fd-primary);
    height: 35%;
    margin-left: 3px;
}

.fd--title {
    border-bottom: 4px solid var(--fd-primary);
    padding-left: 20px;
    padding-right: 20px;
}

.fd--title--secondary {
    border-bottom: 4px solid var(--fd-primary);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.fd--title--border {
    border-left: 4px solid var(--fd-primary);
    padding-left: 20px;
}

.fd--section-heading {
    width: 100%;
    border-bottom: 2px solid var(--fd-main-bg-color);
}

.fd--section-heading h2 {
    margin-bottom: 10px;
}

.fd--custom--slash {
    font-size: 40px;
    margin: 7px 10px 0 10px;
    color: var(--fd-primary);
}

.fd--card--nav {
    width: 100%;
    background-color: var(--fd-main-bg-color);
    height: 100px;
    color: #fff;
    padding: 0;
}

#fd_calc_category_menu div{
    border-bottom: 7px solid var(--fd-main-bg-color);
}

#fd_calc_category_menu div.uk-active {
    border-bottom: 7px solid var(--fd-primary);
}

.fd--calc--list--cards {
    display: flex;
    flex-wrap: wrap;
}

.fd--calc--list--cards > div{
    width: 100%;
}

.fd--card--header {
    background-color: #f1f1f1;
    border-bottom: var(--fd-main-bg-color) 2px solid;
    max-height: 80px;
}

.fd--card--header h4 {
    border-left: 4px solid var(--fd-primary);
    padding-left: 20px;
}

.fd--card--footer {
    align-self: flex-end;
    background-color: var(--fd-main-bg-color);
}

.fd--card--footer button {
    background-color: var(--fd-main-bg-color);
    width: 100%;
    font-size: 1.3em;
    color: var(--fd-primary);
    text-align: right;
}

.fd--accordian--title {
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #E5E5E5;
    text-decoration: none;
    padding: 10px 20px;
}

.fd--btns {
    background-color: var(--fd-main-bg-color);
    color: var(--fd-primary);
}

.ads--section {
    padding: 0 20px;
    text-align: center;
}

.ads--section div {
    border: var(--fd-main-bg-color) solid 1px;
    height: 200px;
    background-color: #999;
}

.info--lists li{
    margin-bottom: 10px;
}

.uk-modal-header {
    background-color: #f0f0f0 !important;
}

.uk-modal-footer {
    background-color: var(--fd-primary);
}

.fd--modal--close--btn {
    background-color: rgb(57, 57, 80);
    border-radius: 50%;
    padding: 10px;
    color: #fff;
}

.fd--modal--close--btn:hover {
    background-color: rgb(75 75 100);
    color: #fff;
}

/* New Slider - Using JS*/

input[type=range].styled-slider {
    height: 12px;
    -webkit-appearance: none;
    width: 100%;
    margin-top: 15px;
}
  
  /*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 35px + var(--ratio) * (100% - 35px));
};
  
input[type=range].styled-slider:focus {
    outline: none;
}
  
/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 30px;
    border-radius: 10em;
    background: linear-gradient(to right, #a4ccc6, #373542);
    border: 1px solid #606060;
    box-shadow: none;
    margin-top: calc(max((15px - 1px - 1px) * 0.5,0px) - max(35px * 0.5,1px));
}
  
input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 12px;
    border: 1px solid #606060;
    border-radius: 0.5em;
    background: linear-gradient(to right, #E5E5E5, #CCCCCC);
    box-shadow: none;
}
  
input[type=range].styled-slider::-webkit-slider-thumb:hover {
    background: #373542;
}
  
input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: linear-gradient(to right, #a4ccc6, #373542);
}
  
input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #a4ccc6, #373542) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #E5E5E5, #CCCCCC);
}
  
/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: max(calc(35px - 1px - 1px),0px);
    height: max(calc(35px - 1px - 1px),0px);
    border-radius: 10em;
    background: linear-gradient(to right, #a4ccc6, #373542);
    border: 1px solid #606060;
    box-shadow: none;
}
  
input[type=range].styled-slider::-moz-range-track {
    height: max(calc(12px - 1px - 1px),0px);
    border: 1px solid #606060;
    border-radius: 0.5em;
    background: linear-gradient(to right, #E5E5E5, #CCCCCC);
    box-shadow: none;
}
  
input[type=range].styled-slider::-moz-range-thumb:hover {
    background: #3F8BD6;
}
  
input[type=range].styled-slider::-moz-range-thumb:active {
    background: linear-gradient(to right, #a4ccc6, #373542);
}
  
input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(to right, #a4ccc6, #373542) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #E5E5E5, #CCCCCC);
}
  
/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}
  
input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}
  
input[type=range].styled-slider::-ms-thumb {
    width: 60px;
    height: 35px;
    border-radius: 10em;
    background: linear-gradient(to right, #a4ccc6, #373542);
    border: 1px solid #606060;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}
  
input[type=range].styled-slider::-ms-track {
    height: 12px;
    border-radius: 0.5em;
    background: linear-gradient(to right, #E5E5E5, #CCCCCC);
    border: 1px solid #606060;
    box-shadow: none;
    box-sizing: border-box;
}
  
input[type=range].styled-slider::-ms-thumb:hover {
    background: #373542;
}
  
input[type=range].styled-slider::-ms-thumb:active {
    background: linear-gradient(to right, #a4ccc6, #373542);
}
  
input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: max(calc(12px - 1px - 1px),0px);
    border-radius: 0.5em 0 0 0.5em;
    margin: -1px 0 -1px -1px;
    background: linear-gradient(to right, #a4ccc6, #373542);
    border: 1px solid #606060;
    border-right-width: 0;
}

/* Slider - End */

.uk-input {
    border: 2px solid #373542 !important;
    border-radius: 10px;
}

[data-results-suffix]:after {
    position: relative;
    content: attr(data-results-suffix);
    white-space: pre;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    top: 15px;
    left: -25px;
    text-transform: capitalize;
}

[data-prefix]>input {
    padding-left: 2.5em;
}

[data-prefix]:before {
    content: attr(data-prefix);
    display: table;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    line-height: 1;
    color: #666;
    background-color: #eee;
    padding: 0.25em 0.4em;
    font-size: 1.5em;
    border-radius: 10px;
}

[data-suffix]>input {
    padding-right: 2.5em;
}

[data-suffix]:before {
    content: attr(data-suffix);
    display: table;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    line-height: 1;
    color: #666;
    background-color: #eee;
    padding: 0.25em 0.4em;
    font-size: 1.5em;
    border-radius: 10px;
}

[data-results-suffix]:after {
    position: relative;
    content: attr(data-results-suffix);
    white-space: pre;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    top: 15px;
    left: -25px;
}

footer {
    background-color: var(--fd-main-bg-color);
    border-top: 4px solid var(--fd-primary);
}

.fd--footer--infoBox {
    padding: 60px 0 60px 0;
}

.fd--footer--bar {
    background-color: #2c2b35;
}

.fd--footer--bar div {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--fd-secondary);
    font-size: 12px;
    line-height: 20px;
}

.fd--footer-heading {
    width: 100%;
    border-bottom: 2px solid var(--fd-primary);
}

.fd--footer--heading h3 {
    margin-bottom: 10px;
}

.fd--footer--logo {
    margin-top: 50px;
    border-radius: 50%;
    border: 4px solid var(--fd-primary);
    width: 200px;
    height: 200px;
    background-color: var(--fd-secondary);
}

.uk-icon-button {
    color: var(--fd-main);
}

.fd--modal--close--btn {
    color: var(--fd-secondary);
    background-color: var(--fd-main-bg-color);
    padding: 10px;
    border-radius: 50%;
}

.fd--modal--close--btn:hover {
    background-color: var(--fd-mid-grey);
}