/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (max-width: 640px) {
    .uk-card-body {
        padding: 0;
    }
    .fd--calc--title {
        padding: 0;
    }
    .fd--calc--title h2{
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
