@media only screen and (max-width: 500px) {
    .fd--table-toggle--container {
        flex-wrap: wrap;
    }
    .fd--table--toggle--yearly {
        line-height: 7vw;
    }
    .fd--table--toggle--monthly {
        line-height: 7vw;
    }
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (max-width: 640px) {
    .uk-card-body {
        padding: 0;
    }
    .fd--calc--title {
        padding: 0;
    }
    .fd--calc--title h2{
        font-size: 20px;
    }
    .mortgage-table-content {
        padding: 10px;
    }
    
}

/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
    .slider-label {
        margin-bottom: -34px;
    }
    .fd--title--secondary {
        font-size: 1.7rem;
    }
    .fd--calc--custom--container {
        padding: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
